.d-block{
    border-radius: 50%;
}


.image {
    background-color: #11131d;
     /* hsl(180, 83%, 73%); */
    height: 600px;
    width: 100%;
    margin-top: 0px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    text-align: center;
    padding-top: 100px; 
}

.top-cloud {
    position: absolute;
    top: 5%;
    left: 55%;
}

.bottom-cloud {
    position: absolute;
    top: 250px;
    left: 15%;
}
.mountain {
    width: 100%;
    height: auto; 
    max-height: 40%; 
    position: absolute;
    bottom: 0;
    left: 0;
}
.title-text {
    font-family: 'Times New Roman', Times, serif;
    color: #e40d87;
    position: relative;
    z-index: 10;
    margin-top: 40px;
}
span{
    font-style: italic;
    text-decoration: 2px underline;
}

.middle{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}
.contact{
    width: 40%;
    margin: 40px auto 60px; 
}
button{
    border-radius: 10px;
    height: 50px;
    width: 150px;
    background-color: #12b4bd ;
    border: none;
    font-size: larger;
}
button:hover{
    background-color: #fb580c;
}

hr {
    border: 10px dotted rgb(49, 6, 244);
    width: 5%; 
    margin: 20px auto;
    border-bottom: none;
}
.display-5 {
    color: #12b4bd !important;
    font-family: serif;
}

h1{
    color:#f10eda;
    font-family: serif;
}
h3{
    color: #f69b08;
}
.container{
    background-color: #0eedf8;
    height: 150px;
}
li{
    color: #578FCA;
}
a:hover{
    color: rgba(222, 51, 51, 0.886) !important;
}

.container p{
    color: #0c2bf0dd !important;
}
